---
import Navigation from '../components/navigation.astro';

interface Props {
  pageTitle: string;
  colorLightBlue: string;
  colorMediumBlue: string;
  colorAnthracite: string;
  colorOrange: string;
}
const { pageTitle, colorLightBlue, colorMediumBlue, colorAnthracite, colorOrange } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ colorLightBlue, colorMediumBlue, colorAnthracite, colorOrange }}>   

    .banner {
        display:                block;
        position:               relative;
        height:                 8rem;
        margin-top:             2rem;
        margin-bottom:          2rem;
    }

    .logo {
        position:                absolute;
        left:                    15vw;
        bottom:                  0;        
    }

    .logo img{
        height:                  8rem;
    }    

    .conference {
        position:               absolute;
        right:                  15vw;
        bottom:                 0;
        text-align:             right;        
        color:                  var(--colorMediumBlue);
    }

    .title {
        font-size:              1.5rem;
        font-family:            var(--font-roboto-condensed-bold), system-ui, -apple-system, sans-serif;         
    }

    .locationdate {
        font-size:              1.5rem;
        font-family:            var(--font-roboto-condensed-light), system-ui, -apple-system, sans-serif; 
    }


/***** Additional options for Responsive Web Design *****/

@media screen and (max-width:900px) {
 
    .logo img{
        height:                 6rem;
    }   

    .conference img {
        height:                 2.5rem;
    }
}        

@media screen and (max-width: 720px) {

    .logo {
        left:                    10vw;    
    }   

    .conference {
        right:                  10vw;
    }    
}

</style>

<!-- HTML ------------------------------------------------------- -->
<header>

    <!-- Banner -->
    <a href={import.meta.env.BASE_URL}>
        <div class="banner">
            <div class="logo">
                <img src="/src/assets/logos/logo_eurovis.svg">
            </div>
            <div class="conference">
                <span class="title">
                    The Eurographics Conference on Visualization<br>
                </span>
                <span class="locationdate">
                    Stuttgart, Germany<br>
                    May 31 - June 06, 2027
                </span>
            </div>
        </div>
    </a>

    <Navigation 
      pageTitle={pageTitle} 
      colorLightBlue={colorLightBlue}
      colorMediumBlue={colorMediumBlue}
      colorAnthracite={colorAnthracite}
      colorOrange={colorOrange}
    />

</header>