---
import Navigation from '../components/navigation.astro';

interface Props {
  pageTitle: string;
  colorLightBlue: string;
  colorMediumBlue: string;
  colorAnthracite: string;
  colorOrange: string;
}
const { pageTitle, colorLightBlue, colorMediumBlue, colorAnthracite, colorOrange } = Astro.props;
---

<!-- CSS -------------------------------------------------------- -->
<style define:vars={{ colorLightBlue, colorMediumBlue, colorAnthracite, colorOrange }}>   

    .banner {
        display:                block;
        position:               relative;
        height:                 8rem;
        margin-top:             2rem;
        margin-bottom:          2rem;
    }

    .logo {
        position:                absolute;
        left:                    15vw;
        bottom:                  0;        
    }

    .logo img{
        height:                  8rem;
    }    

    .conference {
        position:               absolute;
        right:                  15vw;
        bottom:                 0;  
    }

    .conference img {
        height:                  4rem;
    }    

/***** Additional options for Responsive Web Design *****/

@media screen and (max-width:900px) {

    .logo img{
        height:                  6rem;
    }   
    
    .conference img {
        height:                  2.5rem;
    }      

}          

</style>

<!-- HTML ------------------------------------------------------- -->
<header>

    <div class="banner">
        <div class="logo">
            <img src="/src/assets/logos/logo_eurovis.svg">
        </div>
        <div class="conference">
            <img src="/src/assets/logos/logo_conference.svg">
        </div>
    </div>

    <Navigation 
      pageTitle={pageTitle} 
      colorLightBlue={colorLightBlue}
      colorMediumBlue={colorMediumBlue}
      colorAnthracite={colorAnthracite}
      colorOrange={colorOrange}
    />

</header>